---
import Layout from "../layouts/Layout.astro";
import BackgroudReplace from "../sections/BackgroundReplace.astro";
import Wrapper from "../layouts/Wrapper.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Wrapper>
			<BackgroudReplace />
		</Wrapper>
	</main>
</Layout>
