---
import { CldUploadWidget } from "astro-cloudinary";
---

<CldUploadWidget
  options={{
    uploadPreset: "hackathon-astro",
    multiple: false,
    maxFiles: 1,
    sources: ["local", "camera"],
  }}
>
  <button class="bg-orange-400 px-2 py-1 rounded-md">Upload</button>
</CldUploadWidget>
