---
import ShowImage from "../components/ShowImage.astro";
import UploadButton from "../components/UploadButton.astro";
---

<h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deserunt
  animi modi er
</h2>

<UploadButton />

<ShowImage
  imageUrl="https://res.cloudinary.com/dzn3nempv/image/upload/v1722736430/portfolio/cciuovkhaskqxovo50z1.png"
  width={200}
  height={200}
/>
